.container {
  display: flex;
  background: #fff;
  color: #2d2e2f;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 1em;

  &__menu {
  }

  &__main {
    flex: 1;
  }
}
