.calendar-container {
  height: 100%;

  &__left {
    position: relative;
    width: 30%;
    float: left;
    background-color: #f9f9f9;
    box-shadow: 1px 0px 0px #ececec;
    height: 500px;
  }

  &__right {
    width: 70%;
    float: right;
  }
}


.sidebar {
  padding: 20px 30px;
}
