<div class="calendar-container">
  <section class="calendar-container__left">
    <div class="sidebar">
      <h1>{{day.weekDayName}}, <br/>{{day.number}} {{day.monthLocale}} {{day.year}}</h1>
      <app-event-list [events]="events"></app-event-list>
    </div>
    <app-bottombar
      [tabs]="tabs"
      (onTabSelect)="onTabSelect($event)"
    ></app-bottombar>
  </section>
  <section class="calendar-container__right">

    <app-calendar (onDayClicked)="onDayClicked($event)"></app-calendar>

  </section>
</div>

