<div class="container">

  <div class="container__sub"></div>

  <div class="container__main">

    <div class="calendar">
      <div class="calendar__header">
        <div class="calendar__title">
          Апрель <span>2021</span>
        </div>
        <div class="calendar__switch">
          <button><</button>
          <button>></button>
        </div>
      </div>

      <div class="calendar__body">
        <table>
          <thead>
          <tr>
            <th *ngFor="let day of dayAbbrNames">{{day}}</th>
          </tr>
          </thead>
          <tbody><tr>
            <td><div class="not-day">28</div></td>
            <td><div class="not-day">29</div></td>
            <td><div class="not-day">30</div></td>
            <td><div class="not-day">31</div></td>
            <td><div class="day">1</div></td>
            <td><div class="day">2</div></td>
            <td><div class="day">3</div></td>
          </tr>
          <tr>
            <td><div class="day">4</div></td>
            <td><div class="day">5</div></td>
            <td><div class="day">6</div></td>
            <td><div class="day">7</div></td>
            <td><div class="day">8</div></td>
            <td><div class="day">9</div></td>
            <td><div class="day">10</div></td>
          </tr>
          <tr>
            <td><div class="day">11</div></td>
            <td><div class="day">12</div></td>
            <td><div class="day">13</div></td>
            <td><div class="day">14</div></td>
            <td><div class="day">15</div></td>
            <td><div class="day">16</div></td>
            <td><div class="day">17</div></td>
          </tr>
          <tr>
            <td><div class="day">18</div></td>
            <td><div class="day">19</div></td>
            <td><div class="day">20</div></td>
            <td><div class="day">21</div></td>
            <td><div class="day">22</div></td>
            <td><div class="day">23</div></td>
            <td><div class="day">24</div></td>
          </tr>
          <tr>
            <td><div class="day">25</div></td>
            <td><div class="day">26</div></td>
            <td><div class="day">27</div></td>
            <td><div class="day">28</div></td>
            <td><div class="day">29</div></td>
            <td><div class="day">30</div></td>
            <td><div class="day">31</div></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
