<div class="navigation">
  <div class="navigation__app-name">Daily</div>
  <ul class="navigation__container-up">
    <li class="navigation__link active" routerLink="/calendar">
      <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
        <defs></defs>
        <path d="M21.21 15.89A10 10 0 118 2.83M22 12A10 10 0 0012 2v10z"></path>
      </svg>
    </li>
  </ul>
  <ul class="navigation__container-down">
    <li class="navigation__link" (click)="handleLogout()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-log-out" viewBox="0 0 24 24">
        <defs></defs>
        <path d="M9 21H5a2 2 0 01-2-2V5a2 2 0 012-2h4M16 17l5-5-5-5M21 12H9"></path>
      </svg>
    </li>
  </ul>
</div>
